# Data Extraction

## Web Scraping

In [3]:
import re
import time
from typing import List, Optional, Tuple

import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
BASE = "https://aviation-safety.net/database/"
HEADERS = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 "
                  "(KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
}

In [5]:
def get_html(url: str, session: requests.Session, timeout: int = 30) -> str:
    r = session.get(url, headers=HEADERS, timeout=timeout)
    r.raise_for_status()
    return r.text

In [6]:
def get_max_page(year: int, session: requests.Session) -> int:
    """
    Finds the highest page number from pagination links like /database/year/2000/7
    Default: 1 if no pagination found
    """
    url = f"https://aviation-safety.net/database/year/{year}/1"
    html = get_html(url, session)
    soup = BeautifulSoup(html, "html.parser")

    pages = set()
    for a in soup.select("a[href]"):
        href = a.get("href", "")
        m = re.search(rf"/database/year/{year}/(\d+)", href)
        if m:
            pages.add(int(m.group(1)))

    return max(pages) if pages else 1

In [7]:
def pick_accident_table(tables: List[pd.DataFrame]) -> Optional[pd.DataFrame]:
    """
    From all tables on the page, pick the one that looks like the accident list:
    columns usually include: acc. date, type, reg., operator, fat., location, dmg
    """
    for t in tables:
        cols = [str(c).strip().lower() for c in t.columns]
        # heuristics: must have acc & date + type + location (or operator)
        if any("acc" in c and "date" in c for c in cols) and ("type" in cols) and ("location" in cols):
            return t
    return None

In [8]:
import pandas as pd

def scrape_table(url: str, session: requests.Session) -> Optional[pd.DataFrame]:
    html = get_html(url, session)
    tables = pd.read_html(html)

    # διάλεξε τον σωστό πίνακα: αυτόν που έχει header σαν "acc. date" ή "type" κλπ
    for t in tables:
        cols = [str(c).strip().lower() for c in t.columns]
        if any("acc" in c and "date" in c for c in cols) or "type" in cols or "operator" in cols:
            return t

   
    return None

In [9]:
def scrape_page(year: int, page: int, session: requests.Session) -> Optional[pd.DataFrame]:
    url = f"https://aviation-safety.net/database/year/{year}/{page}"
    html = get_html(url, session)


    tables = pd.read_html(html)
    t = pick_accident_table(tables)
    if t is None or t.empty:
        return None

    t.columns = [str(c).strip().lower() for c in t.columns]


    rename_map = {
        "acc. date": "Accident_Date",
        "acc. date ": "Accident_Date",
        "type": "Type",
        "reg.": "Registration",
        "operator": "Operator",
        "fat.": "Fatalities",
        "location": "Location",
        "dmg": "Aircraft_Damage",
    }
    t = t.rename(columns=rename_map)

    wanted = ["Accident_Date", "Type", "Registration", "Operator", "Fatalities", "Location", "Aircraft_Damage"]
    keep = [c for c in wanted if c in t.columns]
    t = t[keep].copy()

    t["Year"] = year
    t["Page"] = page
    t["Source_Url"] = url


    if "Fatalities" in t.columns:
        t["Fatalities"] = pd.to_numeric(
            t["Fatalities"].astype(str).str.replace(r"[^\d]", "", regex=True),
            errors="coerce"
        )

    return t

def scrape_years(year_start: int = 2000, year_end: int = 2025, out_csv: str = "asn_accidents.csv", polite_sleep: float = 0.4) -> pd.DataFrame:
    frames: List[pd.DataFrame] = []

    with requests.Session() as session:
        for year in range(year_start, year_end + 1):
            max_page = get_max_page(year, session)
            print(f"{year}: {max_page} pages")

            for page in range(1, max_page + 1):
                df = scrape_page(year, page, session)
                if df is not None and not df.empty:
                    frames.append(df)
                    print(f"  page {page}: {len(df)} rows")
                else:
                    print(f"  page {page}: [WARN] no table found")
                time.sleep(polite_sleep)

    if not frames:
        raise RuntimeError("No data scraped. The site may be blocking requests or the structure changed.")

    data = pd.concat(frames, ignore_index=True)
    data.to_csv(out_csv, index=False, encoding="utf-8")
    print(f"Saved {out_csv} | rows={len(data):,} | cols={len(data.columns)}")
    return data

In [10]:
df = scrape_years(
    year_start=2000,
    year_end=2025,
    out_csv="asn_2000.csv",
    polite_sleep=0.5
)
df.head()

2000: 4 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 100 rows
  page 4: 24 rows
2001: 4 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 100 rows
  page 4: 25 rows
2002: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 97 rows
2003: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 96 rows
2004: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 71 rows
2005: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 99 rows
2006: 4 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 100 rows
  page 4: 3 rows
2007: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 88 rows
2008: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 99 rows
2009: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 66 rows
2010: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 58 rows
2011: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 60 rows
2012: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 46 rows
2013: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 40 rows
2014: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 79 rows
2015: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 61 rows
2016: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 49 rows
2017: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 39 rows
2018: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 86 rows
2019: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 96 rows
2020: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 39 rows
2021: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 18 rows
2022: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 24 rows
2023: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 22 rows
2024: 3 pages
  page 1: 100 rows
  page 2: 100 rows
  page 3: 19 rows
2025: 2 pages
  page 1: 100 rows
  page 2: 56 rows
Saved asn_2000.csv | rows=6,860 | cols=10

,Accident_Date,Type,Registration,Operator,Fatalities,Location,Aircraft_Damage,Year,Page,Source_Url
0,1 Jan 2000,Cessna 550 Citation II,N752CC,US Customs Service,0.0,"HOMESTEAD, Florida",sub,2000,1,https://aviation-safety.net/database/year/2000/1
1,3 Jan 2000,Beechcraft 200 Super King Air,A2-AEZ,Kalahari Air Services & Charter,NaN,unknown location,w/o,2000,1,https://aviation-safety.net/database/year/2000/1
2,4 Jan 2000,Beechcraft B200 Super King Air,N895TT,Private,0.0,"JACKSON, Wyoming",sub,2000,1,https://aviation-safety.net/database/year/2000/1
3,5 Jan 2000,Embraer EMB-110P1A Bandeirante,5N-AXL,Skypower Express Airways,11.0,Abuja International Airport (ABV),w/o,2000,1,https://aviation-safety.net/database/year/2000/1
4,7 Jan 2000,Antonov An-26,D2-FBR,Unknown,NaN,NaN,mis,2000,1,https://aviation-safety.net/database/year/2000/1

# Transformation Phase

## Data Processing

## 1. Understanding Variable Types

The dataset consists of 6860 observations and 10 variables in order to describe aviation accident during 25 years.<br> The variables include categorical and numerical information.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Accident_Date    6860 non-null   object
 1   Type             6860 non-null   object
 2   Registration     6691 non-null   object
 3   Operator         6805 non-null   object
 4   Fatalities       6818 non-null   float64
 5   Location         6849 non-null   object
 6   Aircraft_Damage  6854 non-null   object
 7   Year             6860 non-null   int64
 8   Page             6860 non-null   int64
 9   Source_Url       6860 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 536.1+ KB

## 2. Clean, Validate and Transform Data

Subsequently, after identifying the types of variables, it was considered necessary to apply appropriate data handling techniques. This included the transformation of categorical variables into numerical ones, as well as the treatment of missing and identification of  inconsistent values discrepancies and in order to ensure and improve data consistency, interpretability, and suitability for subsequent analysis.

Various approaches for handling missing data have been proposed in the literature. The most commonly used methods are presented below:
<ul>
<li> <u>Removal and deletion of values: </u> <br>
This approach carries the risk of losing a significant amount of information. Therefore, it is advisable to first examine the proportion of missing values within a given feature. If this proportion exceeds an acceptable threshold, the entire feature may be removed from the dataset.

<li> <u> Value imputation: </u> <br>
Missing values are commonly replaced using statistical measures such as the median or the mean of the available data.
</ul>

Ultimately, the approach adopted in this study is the removal and deletion of such values.

In [77]:
df["Aircraft_Damage"].unique()

array(['Substantial', 'Destroyed, written off', 'None', 'Minor, repaired',
       'NULL', 'Unknown'], dtype=object)

In [146]:
df["Aircraft_Damage"] = df["Aircraft_Damage"].replace(
{'sub':"Substantial",
'w/o':"Destroyed, written off",
'non':"None",
'min':"Minor, repaired",
'mis' : 'NULL',
'unk' :"Unknown"
})

In [147]:
df["Accident_Date"] = pd.to_datetime(df["Accident_Date"], errors="coerce")
df[df["Accident_Date"].isna()]

,Accident_Date,Type,Registration,Operator,Fatalities,Location,Aircraft_Damage,Year,Page,Source_Url
49,NaT,CASA C-212 Aviocar 200,N461CA,Sandair,0.0,NaN,"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
80,NaT,Lockheed C-130H Hercules,NAF914,Nigerian Air Force - NAF,0.0,Lagos-Murtala Muhammed International Airport (...,"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
323,NaT,Yakovlev Yak-40,RA-87847,"Ecuato Guineana de Aviacion, lsf NovgorodAvia",0.0,Malabo-Santa Isabel Airport (SSG),"Destroyed, written off",2000,4,https://aviation-safety.net/database/year/2000/4
354,NaT,Shorts SC.7 Skyvan 3M-400,VH-WGL,Pull Out Skydiving,0.0,Ravenna,"Destroyed, written off",2001,1,https://aviation-safety.net/database/year/2001/1
355,NaT,Shorts SC.7 Skyvan 3M-400,VH-WGG,Pull Out Skydiving,0.0,Ravenna,"Destroyed, written off",2001,1,https://aviation-safety.net/database/year/2001/1
...,...,...,...,...,...,...,...,...,...,...
4712,NaT,Cessna 500 Citation I,N888JL,Advanced Power Aviation LLC,0.0,"Wichita-Mid-Continent Airport, KS (ICT)","Destroyed, written off",2016,3,https://aviation-safety.net/database/year/2016/3
4760,NaT,Cessna 500 Citation I,N628BS,Chippewa Aerospace Inc.,0.0,unknown,"Destroyed, written off",2016,3,https://aviation-safety.net/database/year/2016/3
5285,NaT,Rockwell Sabreliner 80,N337KL,private,0.0,"Eugene Airport, OR (EUG)",Substantial,2018,3,https://aviation-safety.net/database/year/2018/3
5836,NaT,Antonov An-2,NaN,Korean People's Army Air and Anti-Air Force (K...,50.0,near Taechon Air Base,"Destroyed, written off",2021,1,https://aviation-safety.net/database/year/2021/1
6143,NaT,Antonov An-2R,RA-17951,Voskhod LLC,0.0,near Oymyakon Airfield,Substantial,2022,2,https://aviation-safety.net/database/year/2022/2

In [148]:
df[df["Accident_Date"].dt.year != df["Year"]]

,Accident_Date,Type,Registration,Operator,Fatalities,Location,Aircraft_Damage,Year,Page,Source_Url
49,NaT,CASA C-212 Aviocar 200,N461CA,Sandair,0.0,NaN,"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
80,NaT,Lockheed C-130H Hercules,NAF914,Nigerian Air Force - NAF,0.0,Lagos-Murtala Muhammed International Airport (...,"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
323,NaT,Yakovlev Yak-40,RA-87847,"Ecuato Guineana de Aviacion, lsf NovgorodAvia",0.0,Malabo-Santa Isabel Airport (SSG),"Destroyed, written off",2000,4,https://aviation-safety.net/database/year/2000/4
354,NaT,Shorts SC.7 Skyvan 3M-400,VH-WGL,Pull Out Skydiving,0.0,Ravenna,"Destroyed, written off",2001,1,https://aviation-safety.net/database/year/2001/1
355,NaT,Shorts SC.7 Skyvan 3M-400,VH-WGG,Pull Out Skydiving,0.0,Ravenna,"Destroyed, written off",2001,1,https://aviation-safety.net/database/year/2001/1
...,...,...,...,...,...,...,...,...,...,...
4712,NaT,Cessna 500 Citation I,N888JL,Advanced Power Aviation LLC,0.0,"Wichita-Mid-Continent Airport, KS (ICT)","Destroyed, written off",2016,3,https://aviation-safety.net/database/year/2016/3
4760,NaT,Cessna 500 Citation I,N628BS,Chippewa Aerospace Inc.,0.0,unknown,"Destroyed, written off",2016,3,https://aviation-safety.net/database/year/2016/3
5285,NaT,Rockwell Sabreliner 80,N337KL,private,0.0,"Eugene Airport, OR (EUG)",Substantial,2018,3,https://aviation-safety.net/database/year/2018/3
5836,NaT,Antonov An-2,NaN,Korean People's Army Air and Anti-Air Force (K...,50.0,near Taechon Air Base,"Destroyed, written off",2021,1,https://aviation-safety.net/database/year/2021/1
6143,NaT,Antonov An-2R,RA-17951,Voskhod LLC,0.0,near Oymyakon Airfield,Substantial,2022,2,https://aviation-safety.net/database/year/2022/2

In [149]:
df["Type"].nunique()

1722

In [150]:
df.describe()

                       Accident_Date     Fatalities         Year         Page
count                           6799    6818.000000  6860.000000  6860.000000
mean   2012-02-28 16:54:17.420208640     176.492666  2011.618950     1.876968
min              2000-01-01 00:00:00       0.000000  2000.000000     1.000000
25%              2005-09-28 00:00:00       0.000000  2005.000000     1.000000
50%              2011-10-18 00:00:00       0.000000  2011.000000     2.000000
75%              2018-07-09 00:00:00       0.000000  2018.000000     2.000000
max              2025-12-23 00:00:00  921600.000000  2025.000000     4.000000
std                              NaN   11225.277890     7.402119     0.796933

In [151]:
#df["Fatalities"] = df["Fatalities"].astype(str)
#df["Fatalities"].value_counts().head(20)

Fatalities
0.0     5394
1.0      253
2.0      220
3.0      125
4.0       88
5.0       69
10.0      54
6.0       49
nan       42
20.0      41
7.0       39
8.0       32
9.0       27
30.0      22
11.0      20
13.0      19
14.0      14
40.0      13
50.0      11
16.0      10
Name: count, dtype: int64

In [12]:
df.isna().sum()

Accident_Date        0
Type                 0
Registration       169
Operator            55
Fatalities          42
Location            11
Aircraft_Damage      6
Year                 0
Page                 0
Source_Url           0
dtype: int64

In [13]:
df=df.dropna()

In [191]:
df.head()

,Accident_Date,Type,Registration,Operator,Fatalities,Location,Aircraft_Damage,Year,Page,Source_Url
0,2000-01-01,Cessna 550 Citation II,N752CC,US Customs Service,0,"HOMESTEAD, Florida",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1
1,2000-01-03,Beechcraft 200 Super King Air,A2-AEZ,Kalahari Air Services & Charter,<NA>,unknown location,"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
2,2000-01-04,Beechcraft B200 Super King Air,N895TT,Private,0,"JACKSON, Wyoming",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1
3,2000-01-05,Embraer EMB-110P1A Bandeirante,5N-AXL,Skypower Express Airways,11,Abuja International Airport (ABV),"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
5,2000-01-07,Beechcraft 100 King Air,C-GXVX,North-Wright Airways,0,"Inuvik, NT",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1

# Data Loading

# Append to a PostgreSQL table

In [244]:
from sqlalchemy import create_engine
from sqlalchemy import text

engine = create_engine(
"postgresql+psycopg2://postgres:postgres@37.27.81.12:5433/aviation_db"
)

con = engine.connect()

sql = """ 
    DROP TABLE IF EXISTS plane

    """

## create an empty table tennis 
sql = """
 CREATE TABLE IF NOT EXISTS plane (
 accident_date VARCHAR(50),
 type TEXT,
 registration TEXT,
 operator TEXT,
 fatalities INT,
 location TEXT,
 aircraft_damage TEXT,
 year INT,
 page INT,
 source_url TEXT)
;

""" 



# execute the 'sql' query
with engine.connect().execution_options(autocommit=True) as conn:
    query = conn.execute(text(sql))

In [245]:

df2 = df.rename(columns={
    "Accident_Date": "accident_date",
    "Type": "type",
    "Registration": "registration",
    "Operator": "operator",
    "Fatalities": "fatalities",
    "Aircraft_Damage": "aircraft_damage",
    "Location": "location",
    "Year": "year",
    "Page": "page",
    "Source_Url": "source_url",
})

In [129]:
#!pip install psycopg2-binary sqlalchemy

In [246]:
with engine.connect().execution_options(autocommit=True) as conn:
    df2.to_sql("plane", engine, if_exists="append", index=False)

In [248]:

pd.read_sql("SELECT * FROM plane;", engine)

,accident_date,type,registration,operator,fatalities,location,aircraft_damage,year,page,source_url
0,2000-01-01 00:00:00,Cessna 550 Citation II,N752CC,US Customs Service,0.0,"HOMESTEAD, Florida",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1
1,2000-01-03 00:00:00,Beechcraft 200 Super King Air,A2-AEZ,Kalahari Air Services & Charter,NaN,unknown location,"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
2,2000-01-04 00:00:00,Beechcraft B200 Super King Air,N895TT,Private,0.0,"JACKSON, Wyoming",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1
3,2000-01-05 00:00:00,Embraer EMB-110P1A Bandeirante,5N-AXL,Skypower Express Airways,11.0,Abuja International Airport (ABV),"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
4,2000-01-07 00:00:00,Beechcraft 100 King Air,C-GXVX,North-Wright Airways,0.0,"Inuvik, NT",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1
...,...,...,...,...,...,...,...,...,...,...
6589,2025-01-07 00:00:00,Boeing 787-9 Dreamliner,JA892A,All Nippon Airways - ANA,0.0,"near Ojai, CA",None,2025,2,https://aviation-safety.net/database/year/2025/2
6590,2025-01-07 00:00:00,Cessna 208 Caravan 675,VH-WTY,Swan River Seaplanes,3.0,"off Rottnest Island, near Thomson Bay, WA","Destroyed, written off",2025,2,https://aviation-safety.net/database/year/2025/2
6591,2025-01-05 00:00:00,Embraer ERJ-195LR,I-ADJR,Air Dolomiti,0.0,München-Franz Josef Strauss Airport (MUC/EDDM),Substantial,2025,2,https://aviation-safety.net/database/year/2025/2
6592,2025-01-03 00:00:00,Cirrus SF50 Vision Jet G2,N603AP,Foxtrot Jet LLC,0.0,Black Hills Airport-Clyde Ice Field (SPF/KSPF)...,Substantial,2025,2,https://aviation-safety.net/database/year/2025/2
6593,2025-01-02 00:00:00,Bombardier CRJ-200LR,N438SW,Contour Aviation,0.0,"Stringtown, MS",Substantial,2025,2,https://aviation-safety.net/database/year/2025/2

In [224]:
sql = """ select * FROM plane """

with engine.connect().execution_options(autocommit=True) as conn:
    query = conn.execute(text(sql))
    rows = query.mappings().all()
    print(rows)

[]

In [226]:
df2.head()

,accident_date,type,registration,operator,fatalities,location,aircraft_damage,year,page,source_url
0,2000-01-01,Cessna 550 Citation II,N752CC,US Customs Service,0,"HOMESTEAD, Florida",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1
1,2000-01-03,Beechcraft 200 Super King Air,A2-AEZ,Kalahari Air Services & Charter,<NA>,unknown location,"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
2,2000-01-04,Beechcraft B200 Super King Air,N895TT,Private,0,"JACKSON, Wyoming",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1
3,2000-01-05,Embraer EMB-110P1A Bandeirante,5N-AXL,Skypower Express Airways,11,Abuja International Airport (ABV),"Destroyed, written off",2000,1,https://aviation-safety.net/database/year/2000/1
5,2000-01-07,Beechcraft 100 King Air,C-GXVX,North-Wright Airways,0,"Inuvik, NT",Substantial,2000,1,https://aviation-safety.net/database/year/2000/1

In [1]:
df2.info()

NameError: name 'df2' is not defined

In [ ]:
#df["Fatalities"] = pd.to_numeric(df["Fatalities"], errors="coerce").astype("Int64")